*{
    font-size: 20px;
    font-weight: 900;
}
body{
    margin: 0;
}
header{
    background-color: aquamarine;
    height: 10vh;
}
nav{
    background-color: darkseagreen;
    height: 10vh;
}
section{
    background-color: antiquewhite;
    height: 60vh;
    width: 80%;
    float: left;
}

article{
    background-color: darkorchid;
    height: 20vh;
    width: 50%;
    float: left;
    
}
article + article {
    background-color: green;
}
aside{
    background-color: coral;
    height: 60vh;
    width: 20%;
    float: left;
}
footer{
    background-color: crimson;
    height: 20vh;
    clear: both;
}
@media screen and (max-width: 1000px){/*Cuando es una tablet*/
    article{
        width: 100%;
    }
    
}
@media screen and (max-width: 600px){
aside {
    height: 10vh;
    width: 100%;
}
section{
    width: 100%;
}
}
